* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 1000px;
  margin: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  border: 10px double;
  border-radius: 5px;
  color: #212121;
  line-height: 1.5;
  padding: 15px;
}

h2 {
  margin: 0 auto;
  width: 300px;
  text-decoration: underline;
  padding: 2px;
  background-color: #0a428c;
  color: #b5e5f4;
  text-align: center;
  border-radius: 8px;
}
h3 {
  background-color: rgba(10, 66, 140, 0.3);
  color: #2e59b4;
  text-align: center;
  border-radius: 20px;
  padding: 0px 10px;
}

a {
  text-decoration: none;
  color: white;
}
ul {
  margin: 10px auto;
  background-color: #0e72eb;
  padding: 5px;
  width: 80%;
  border-radius: 15px;
}
li {
  margin: 7px;
  color: #b5e5f4;
  background-color: #093366;
  border-radius: 15px;
  padding: 12px 10px;
}

a {
  background-color: #093366;
  margin: 5px;
  padding: 3px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
  text-align: center;
  border: 3px solid rgb(56, 162, 191);
}
a:hover {
  padding: 3px 10px 3px 3px;
  width: 45%;
  color: #000000;
  background-color: #3d8bf1;

  border: 3px solid rgb(32, 79, 132);
  margin-left: 0;
}
input {
  padding: 8px;
  margin: 15px;
  border: 5px dashed rgb(56, 162, 191);
  border-radius: 8px;
  font: inherit;
}
label {
  padding: 15px 0 0 0;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border: 5px dashed;
  margin: 15px;
  border-radius: 8px;
}
button:hover {
  border: 5px dashed rgb(56, 162, 191);
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 3px;
  list-style: none;
}

.gallery-img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.01);
}

.value-task-04 {
  width: 30px;
  font-size: 26px;
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  border: 2px dashed rgb(20, 237, 71);
  margin: 15px;
  border-radius: 8px;
  padding: 0px 10px;
}

.container-task-07 {
  display: flex;
  gap: 80px;
  padding: 0px 0px 70px 50px;
  height: 150px;
}
